
	<div id="container">

		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1>WishList</h1>
			</div>
		</div>

	
		<div id="bodyBlock">

		<form action="POST">
			<span class="boxLabel">Dream Course Description : </span><textarea name="descript" id="description" cols="75" rows="10"></textarea><br>
			<div id="dropDowns">
					<li id="li_1" >
		<label class="description" for="element_1">Envision a Course Description </label>
		<div>
			<textarea id="element_1" name="element_1" class="element textarea medium"></textarea> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Themes</label>
		<span class="col1">
			<input id="element_2_1" name="element_2_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_1">Analog Craft</label>
<input id="element_2_2" name="element_2_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_2">Animals</label>
<input id="element_2_3" name="element_2_3" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_3">Animation</label>
<input id="element_2_4" name="element_2_4" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_4">Art</label>
<input id="element_2_5" name="element_2_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_5">Data</label>
<input id="element_2_6" name="element_2_6" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_6">Design</label>
<input id="element_2_7" name="element_2_7" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_7">Social Media</label>
<input id="element_2_8" name="element_2_8" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_8">Mobile</label>
<input id="element_2_9" name="element_2_9" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_9">Internet</label>
<input id="element_2_10" name="element_2_10" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_10">Programming</label>
<input id="element_2_11" name="element_2_11" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_11">Web</label>
</span><span class="col">
<input id="element_2_12" name="element_2_12" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_12">Processing</label>
<input id="element_2_13" name="element_2_13" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_13">Projection</label>
<input id="element_2_14" name="element_2_14" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_14">Narrative</label>
<input id="element_2_15" name="element_2_15" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_15">Seminar</label>
<input id="element_2_16" name="element_2_16" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_16">Theory</label>
<input id="element_2_17" name="element_2_17" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_17">Crit</label>
<input id="element_2_18" name="element_2_18" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_18">Fab</label>
<input id="element_2_19" name="element_2_19" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_19">PComp</label>
<input id="element_2_20" name="element_2_20" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_20">Gaming</label>
<input id="element_2_21" name="element_2_21" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_21">Science</label>
<input id="element_2_22" name="element_2_22" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_22">Collaboration</label>
</span><span class="col">
<input id="element_2_23" name="element_2_23" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_23">3D</label>
<input id="element_2_24" name="element_2_24" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_24">Biology</label>
<input id="element_2_25" name="element_2_25" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_25">Business</label>
<input id="element_2_26" name="element_2_26" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_26">Development</label>
<input id="element_2_27" name="element_2_27" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_27">Environment</label>
<input id="element_2_28" name="element_2_28" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_28">Politics</label>
<input id="element_2_29" name="element_2_29" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_29">Sustainability</label>
<input id="element_2_30" name="element_2_30" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_30">Video</label>
<input id="element_2_31" name="element_2_31" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_31">Mapping</label>
<input id="element_2_32" name="element_2_32" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_32">Drawing</label>
<input id="element_2_33" name="element_2_33" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_33">Journalism</label>
</span><span class="col">
<input id="element_2_34" name="element_2_34" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_34">Politics</label>
<input id="element_2_35" name="element_2_35" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_35">CV</label>
<input id="element_2_36" name="element_2_36" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_36">Education</label>
<input id="element_2_37" name="element_2_37" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_37">Installation</label>
<input id="element_2_38" name="element_2_38" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_38">Performance</label>
<input id="element_2_39" name="element_2_39" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_39">Security</label>
<input id="element_2_40" name="element_2_40" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_40">Lecture</label>
<input id="element_2_41" name="element_2_41" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_41">Fashion</label>
<input id="element_2_42" name="element_2_42" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_42">Craft</label>
<input id="element_2_43" name="element_2_43" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_43">Music</label>
<input id="element_2_44" name="element_2_44" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_44">Visualization</label>
</span><span class="col">
<input id="element_2_45" name="element_2_45" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_2_45">Imaging</label>

		</span><p class="guidelines" id="guide_2"><small>Select All That Apply</small></p> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Skills + Software </label>
		<span>
			<input id="element_3_1" name="element_3_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_1">Circutry</label>
<input id="element_3_2" name="element_3_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_2">Rhino</label>
<input id="element_3_3" name="element_3_3" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_3">CAD</label>
<input id="element_3_4" name="element_3_4" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_4">Javascript</label>
<input id="element_3_5" name="element_3_5" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_5">Node.js</label>
<input id="element_3_6" name="element_3_6" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_6">Python</label>
<input id="element_3_7" name="element_3_7" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_7">Ruby</label>
<input id="element_3_8" name="element_3_8" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_8">HTML / CSS</label>
<input id="element_3_9" name="element_3_9" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_9">C++ / Obj-C</label>
<input id="element_3_10" name="element_3_10" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_10">VectorWorks</label>
<input id="element_3_11" name="element_3_11" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_11">Premiere</label>
<input id="element_3_12" name="element_3_12" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_12">After Effects</label>
</span><span class="col">
<input id="element_3_13" name="element_3_13" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_13">Photoshop</label>
<input id="element_3_14" name="element_3_14" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_14">Illustrator</label>
<input id="element_3_15" name="element_3_15" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_15">Fireworks</label>
<input id="element_3_16" name="element_3_16" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_16">OpenFrameworks / Cinder</label>
<input id="element_3_17" name="element_3_17" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_17">Asterisk</label>
<input id="element_3_18" name="element_3_18" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_18">DigiFab</label>
<input id="element_3_19" name="element_3_19" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_19">3D-Printing</label>
<input id="element_3_20" name="element_3_20" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_20">Processing</label>
<input id="element_3_21" name="element_3_21" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_21">Arduino</label>
<input id="element_3_22" name="element_3_22" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_22">Photography</label>
<input id="element_3_23" name="element_3_23" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_23">Max/Msp</label>
<input id="element_3_24" name="element_3_24" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_24">Projection</label>
</span><span class="col">
<input id="element_3_25" name="element_3_25" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_25">Sound</label>

		</span> 
		</li>
			<div>

			<input type="submit" class="large awesome" value="Post">
			
		</div>
	</div>