
	<div id="container">

		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1>WishList</h1>
			</div>
		</div>

	
		<div id="bodyBlock">

		<form action="POST">
			<span class="boxLabel">Dream Course Description : </span><textarea name="descript" id="description" cols="75" rows="10"></textarea><br>
			<div id="dropDowns">
				<div class="themes">
					Relevant Themes
					<select>
					  <option value="Animals">Animals</option>
					  <option value="Aircraft">Aircraft</option>
					  <option value="Acting">Acting</option>
					  <option value="CV">CV</option>
					</select>
				</div>
				<div class="skills">
					Desired Skills
					<select>
					  <option value="Animals">Animals</option>
					  <option value="Aircraft">Aircraft</option>
					  <option value="Acting">Acting</option>
					  <option value="CV">CV</option>
					</select>
				</div>
			<div>

			<input type="submit" class="large awesome" value="Post">
			
		</div>
	</div>