<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>ITP WishList</title>
	
	<link rel="stylesheet" type="text/css" href="src/css/styles.css">
	<link rel="stylesheet" type="text/css" href="src/css/MyFontsWebfontsKit.css">
	
</head>
<body>
	<div id="container">

		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1> WishList</h1>
			</div>
		</div>

	
		<div id="bodyBlock">

		<form action="POST">
			<h2>NYU id : <input type="text" id="login" name="login"></h2><br>
			<h2>Pass :  <input type="text" id="login" name="login"></h2>
		</form>
			
		</div>
	</div>
</body>
</html>
