		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1>WishList</h1>
			</div>
		</div>

<div id="form_container">
	
		<form id="mainForm" method="post" action="">				
			<ul >
			
					<li id="li_1" >
		<label class="description" for="descript">Envision a Course Description </label>
		<div>
			<textarea id="descript" name="descript" class="element textarea medium"></textarea> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Themes</label>
		<span class="col1">

<input id="Analog" name="Analog" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Analog">Analog Craft</label>
<input id="Animals" name="Animals" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Animals">Animals</label>
<input id="Animation" name="Animation" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Animation">Animation</label>
<input id="Art" name="Art" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Art">Art</label>
<input id="Data" name="Data" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Data">Data</label>
<input id="Design" name="Design" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Design">Design</label>
<input id="Social" name="Social" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Social">Social Media</label>
<input id="Social" name="Social" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Social">Mobile</label>
<input id="Internet" name="Internet" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Internet">Internet</label>
<input id="Programming" name="Programming" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Programming">Programming</label>
<input id="Web" name="Web" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Web">Web</label>
</span><span class="col">
<input id="Processing" name="Processing" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Processing">Processing</label>
<input id="Projection" name="Projection" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Projection">Projection</label>
<input id="Projection" name="Projection" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Projection">Narrative</label>
<input id="Seminar" name="Seminar" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Seminar">Seminar</label>
<input id="Theory" name="Theory" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Theory">Theory</label>
<input id="Crit" name="Crit" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Crit">Crit</label>
<input id="Fab" name="Fab" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Fab">Fab</label>
<input id="PComp" name="PComp" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="PComp">PComp</label>
<input id="Gaming" name="Gaming" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Gaming">Gaming</label>
<input id="Science" name="Science" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Science">Science</label>
<input id="Collaboration" name="Collaboration" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Collaboration">Collaboration</label>
</span><span class="col">
<input id="3D" name="3D" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="3D">3D</label>
<input id="Biology" name="Biology" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Biology">Biology</label>
<input id="Business" name="Business" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Business">Business</label>
<input id="Development" name="Development" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Development">Development</label>
<input id="Environment" name="Environment" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Environment">Environment</label>
<input id="Politics" name="Politics" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Politics">Politics</label>
<input id="Sustainability" name="Sustainability" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Sustainability">Sustainability</label>
<input id="Video" name="Video" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Video">Video</label>
<input id="Mapping" name="Mapping" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Mapping">Mapping</label>
<input id="Drawing" name="Drawing" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Drawing">Drawing</label>
<input id="Journalism" name="Journalism" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Journalism">Journalism</label>
</span><span class="col">
<input id="Politics" name="Politics" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Politics">Politics</label>
<input id="CV" name="CV" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="CV">CV</label>
<input id="Education" name="Education" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Education">Education</label>
<input id="Installation" name="Installation" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Installation">Installation</label>
<input id="Performance" name="Performance" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Performance">Performance</label>
<input id="Security" name="Security" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Security">Security</label>
<input id="Lecture" name="Lecture" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Lecture">Lecture</label>
<input id="Fashion" name="Fashion" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Fashion">Fashion</label>
<input id="Craft" name="Craft" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Craft">Craft</label>
<input id="Music" name="Music" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Music">Music</label>
<input id="Visualization" name="Visualization" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Visualization">Visualization</label>
</span><span class="col">

		</span><p class="guidelines" id="guide_2"><small>Select All That Apply</small></p> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Skills + Software </label>
		<span>

<input id="Circutry" name="Circutry" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Circutry">Circutry</label>
<input id="Rhino" name="Rhino" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Rhino">Rhino</label>
<input id="CAD" name="CAD" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="CAD">CAD</label>
<input id="Javascript" name="Javascript" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Javascript">Javascript</label>
<input id="Node" name="Node" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Node">Node.js</label>
<input id="Python" name="Python" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Python">Python</label>
<input id="Ruby" name="Ruby" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Ruby">Ruby</label>
<input id="HTML" name="HTML" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="HTML">HTML / CSS</label>
<input id="++" name="++" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="++">C++ / Obj-C</label>
<input id="VectorWorks" name="VectorWorks" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="VectorWorks">VectorWorks</label>
<input id="Premiere" name="Premiere" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Premiere">Premiere</label>
<input id="afterEffects" name="afterEffects" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="afterEffects">After Effects</label>
</span><span class="col">
<input id="Photoshop" name="Photoshop" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Photoshop">Photoshop</label>
<input id="Illustrator" name="Illustrator" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Illustrator">Illustrator</label>
<input id="Fireworks" name="Fireworks" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Fireworks">Fireworks</label>
<input id="OF" name="OF" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="OF">OF / Cinder</label>
<input id="Asterisk" name="Asterisk" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Asterisk">Asterisk</label>
<input id="DigiFab" name="DigiFab" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="DigiFab">DigiFab</label>
<input id="3dPrint" name="3dPrint" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="3dPrint">3D-Printing</label>
<input id="Processing" name="Processing" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Processing">Processing</label>
<input id="Arduino" name="Arduino" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Arduino">Arduino</label>
<input id="Photography" name="Photography" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Photography">Photography</label>
<input id="Max" name="Max" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Max">Max/Msp</label>
<input id="Projection" name="Projection" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Projection">Projection</label>
</span><span class="col">
<input id="Sound" name="Sound" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="Sound">Sound</label>
<input id="Other" name="other" class="element checkbox" type="checkbox" value="1" /><input id="otherDesc" name="otherDesc" class="textbox" type="textbox" size="10" value="Other" />

		</span> 
		</li>
		
		<li id="li_3" >
		<label class="description" for="element_3">Project or Theory</label>
<select name="proj_or_theory">
  <option value="project">Project Based</option>
  <option value="theory">Theory + Discussion</option>
</select></li>
			
				<li class="buttons">
				<input id="saveForm" class="awesome" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>