		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1>WishList</h1>
			</div>
		</div>

<div id="form_container">
	
		<form id="mainForm" method="POST" action="/add">				
			<ul >

				<li id="className" >
		<label class="classTitle"><h1>Dream Class Title</h1></label>
		<div>
				<input type="text" size="75" name="classTitle">
		</div> 
		</li>
			
					<li id="li_1" >
		<label class="description" for="descript">Envision the Course Description </label>
		<div>
			<textarea id="descript" name="descript" class="element textarea medium"></textarea> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Themes</label>
		<span class="col1">

<input id="Analog" name="themes" class="element checkbox" type="checkbox" value="Analog" />
<label class="choice" for="Analog">Analog Craft</label>
<input id="Animals" name="themes" class="element checkbox" type="checkbox" value="Animals" />
<label class="choice" for="Animals">Animals</label>
<input id="Animation" name="themes" class="element checkbox" type="checkbox" value="Animation" />
<label class="choice" for="Animation">Animation</label>
<input id="Art" name="themes" class="element checkbox" type="checkbox" value="Art" />
<label class="choice" for="Art">Art</label>
<input id="Data" name="themes" class="element checkbox" type="checkbox" value="Data" />
<label class="choice" for="Data">Data</label>
<input id="Design" name="themes" class="element checkbox" type="checkbox" value="Design" />
<label class="choice" for="Design">Design</label>
<input id="Social" name="themes" class="element checkbox" type="checkbox" value="Social Media" />
<label class="choice" for="Social">Social Media</label>
<input id="Social" name="themes" class="element checkbox" type="checkbox" value="Mobile" />
<label class="choice" for="Social">Mobile</label>
<input id="Internet" name="themes" class="element checkbox" type="checkbox" value="Internet" />
<label class="choice" for="Internet">Internet</label>
<input id="Programming" name="themes" class="element checkbox" type="checkbox" value="Programming" />
<label class="choice" for="Programming">Programming</label>
<input id="Web" themes="Web" class="element checkbox" type="checkbox" value="Web" />
<label class="choice" for="Web">Web</label>
</span><span class="col">
<input id="Processing" name="themes" class="element checkbox" type="checkbox" value="Processing" />
<label class="choice" for="Processing">Processing</label>
<input id="Projection" name="themes" class="element checkbox" type="checkbox" value="Projection" />
<label class="choice" for="Projection">Projection</label>
<input id="Projection" name="themes" class="element checkbox" type="checkbox" value="Narrative" />
<label class="choice" for="Projection">Narrative</label>
<input id="Seminar" name="themes" class="element checkbox" type="checkbox" value="Seminar" />
<label class="choice" for="Seminar">Seminar</label>
<input id="Theory" name="themes" class="element checkbox" type="checkbox" value="Theory" />
<label class="choice" for="Theory">Theory</label>
<input id="Crit" name="themes" class="element checkbox" type="checkbox" value="Crit" />
<label class="choice" for="Crit">Crit</label>
<input id="Fab" name="themes" class="element checkbox" type="checkbox" value="Fab" />
<label class="choice" for="Fab">Fab</label>
<input id="PComp" name="themes" class="element checkbox" type="checkbox" value="PComp" />
<label class="choice" for="PComp">PComp</label>
<input id="Gaming" name="themes" class="element checkbox" type="checkbox" value="Gaming" />
<label class="choice" for="Gaming">Gaming</label>
<input id="Science" name="themes" class="element checkbox" type="checkbox" value="Science" />
<label class="choice" for="Science">Science</label>
<input id="Collaboration" name="themes" class="element checkbox" type="checkbox" value="Collaboration" />
<label class="choice" for="Collaboration">Collaboration</label>
</span><span class="col">
<input id="3D" name="themes" class="element checkbox" type="checkbox" value="3D" />
<label class="choice" for="3D">3D</label>
<input id="Biology" name="themes" class="element checkbox" type="checkbox" value="Biology" />
<label class="choice" for="Biology">Biology</label>
<input id="Business" name="themes" class="element checkbox" type="checkbox" value="Business" />
<label class="choice" for="Business">Business</label>
<input id="Development" name="themes" class="element checkbox" type="checkbox" value="Development" />
<label class="choice" for="Development">Development</label>
<input id="Environment" name="themes" class="element checkbox" type="checkbox" value="Environment" />
<label class="choice" for="Environment">Environment</label>
<input id="Politics" name="themes" class="element checkbox" type="checkbox" value="Politics" />
<label class="choice" for="Politics">Politics</label>
<input id="Sustainability" name="themes" class="element checkbox" type="checkbox" value="Sustainability" />
<label class="choice" for="Sustainability">Sustainability</label>
<input id="Video" name="themes" class="element checkbox" type="checkbox" value="Video" />
<label class="choice" for="Video">Video</label>
<input id="Mapping" name="themes" class="element checkbox" type="checkbox" value="Mapping" />
<label class="choice" for="Mapping">Mapping</label>
<input id="Drawing" name="themes" class="element checkbox" type="checkbox" value="Drawing" />
<label class="choice" for="Drawing">Drawing</label>
<input id="Journalism" name="themes" class="element checkbox" type="checkbox" value="Journalism" />
<label class="choice" for="Journalism">Journalism</label>
</span><span class="col">
<input id="Politics" name="themes" class="element checkbox" type="checkbox" value="Politics" />
<label class="choice" for="Politics">Politics</label>
<input id="CV" name="themes" class="element checkbox" type="checkbox" value="CV" />
<label class="choice" for="CV">CV</label>
<input id="Education" name="themes" class="element checkbox" type="checkbox" value="Education" />
<label class="choice" for="Education">Education</label>
<input id="Installation" name="themes" class="element checkbox" type="checkbox" value="Installation" />
<label class="choice" for="Installation">Installation</label>
<input id="Performance" name="themes" class="element checkbox" type="checkbox" value="Performance" />
<label class="choice" for="Performance">Performance</label>
<input id="Security" name="themes" class="element checkbox" type="checkbox" value="Security" />
<label class="choice" for="Security">Security</label>
<input id="Lecture" name="themes" class="element checkbox" type="checkbox" value="Lecture" />
<label class="choice" for="Lecture">Lecture</label>
<input id="Fashion" name="themes" class="element checkbox" type="checkbox" value="Fashion" />
<label class="choice" for="Fashion">Fashion</label>
<input id="Craft" name="themes" class="element checkbox" type="checkbox" value="Craft" />
<label class="choice" for="Craft">Craft</label>
<input id="Music" name="themes" class="element checkbox" type="checkbox" value="Music" />
<label class="choice" for="Music">Music</label>
<input id="Visualization" name="themes" class="element checkbox" type="checkbox" value="Visualization" />
<label class="choice" for="Visualization">Visualization</label>
</span><span class="col">

		</span><p class="guidelines" id="guide_2"><small>Select All That Apply</small></p> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Skills + Software </label>
		<span>

<input id="Circuitry" name="skills" class="element checkbox" type="checkbox" value="Circuitry" />
<label class="choice" for="Circuitry">Circuitry</label>
<input id="Rhino" name="skills" class="element checkbox" type="checkbox" value="Rhino" />
<label class="choice" for="Rhino">Rhino</label>
<input id="CAD" name="skills" class="element checkbox" type="checkbox" value="CAD" />
<label class="choice" for="CAD">CAD</label>
<input id="Javascript" name="skills" class="element checkbox" type="checkbox" value="Javascript" />
<label class="choice" for="Javascript">Javascript</label>
<input id="Node" name="skills" class="element checkbox" type="checkbox" value="Node" />
<label class="choice" for="Node">Node.js</label>
<input id="Python" name="skills" class="element checkbox" type="checkbox" value="Python" />
<label class="choice" for="Python">Python</label>
<input id="Ruby" name="skills" class="element checkbox" type="checkbox" value="Ruby" />
<label class="choice" for="Ruby">Ruby</label>
<input id="HTML" name="skills" class="element checkbox" type="checkbox" value="HTML/CSS" />
<label class="choice" for="HTML">HTML / CSS</label>
<input id="++" name="skills" class="element checkbox" type="checkbox" value="C++/Obj-C" />
<label class="choice" for="c++">C++ / Obj-C</label>
<input id="VectorWorks" name="skills" class="element checkbox" type="checkbox" value="VectorWorks" />
<label class="choice" for="VectorWorks">VectorWorks</label>
<input id="Premiere" name="skills" class="element checkbox" type="checkbox" value="Premiere" />
<label class="choice" for="Premiere">Premiere</label>
<input id="afterEffects" name="skills" class="element checkbox" type="checkbox" value="AfterEffects" />
<label class="choice" for="afterEffects">After Effects</label>
</span><span class="col">
<input id="Photoshop" name="skills" class="element checkbox" type="checkbox" value="Photoshop" />
<label class="choice" for="Photoshop">Photoshop</label>
<input id="Illustrator" name="skills" class="element checkbox" type="checkbox" value="Illustrator" />
<label class="choice" for="Illustrator">Illustrator</label>
<input id="Fireworks" name="skills" class="element checkbox" type="checkbox" value="Fireworks" />
<label class="choice" for="Fireworks">Fireworks</label>
<input id="OF" name="skills" class="element checkbox" type="checkbox" value="OF/Cinder" />
<label class="choice" for="OF">OF / Cinder</label>
<input id="Asterisk" name="skills" class="element checkbox" type="checkbox" value="Asterisk" />
<label class="choice" for="Asterisk">Asterisk</label>
<input id="DigiFab" name="skills" class="element checkbox" type="checkbox" value="Digi-Fab" />
<label class="choice" for="DigiFab">DigiFab</label>
<input id="3dPrint" name="skills" class="element checkbox" type="checkbox" value="3D Printing" />
<label class="choice" for="3dPrint">3D-Printing</label>
<input id="Processing" name="skills" class="element checkbox" type="checkbox" value="Processing" />
<label class="choice" for="Processing">Processing</label>
<input id="Raspi" name="skills" class="element checkbox" type="checkbox" value="Unix + Raspi" />
<label class="choice" for="Raspi">Linux/Unix + Raspberry-Pi</label>
<input id="Arduino" name="skills" class="element checkbox" type="checkbox" value="Arduino" />
<label class="choice" for="Arduino">Arduino</label>
<input id="Photography" name="skills" class="element checkbox" type="checkbox" value="Photo" />
<label class="choice" for="Photography">Photography</label>
<input id="Max" name="skills" class="element checkbox" type="checkbox" value="Max/Msp" />
<label class="choice" for="Max">Max/Msp</label>
<input id="Projection" name="skills" class="element checkbox" type="checkbox" value="Projection" />
<label class="choice" for="Projection">Projection</label>
</span><span class="col">
<input id="Sound" name="Sound" class="element checkbox" type="checkbox" value="Sound" />
<label class="choice" for="Sound">Sound</label>
<!-- <input id="Other" name="other" class="element checkbox" type="checkbox" value="other" />

<input id="otherDesc" name="otherDesc" class="textbox" type="textbox" size="10" value="Other" /> -->

		</span> 
		</li>
		
		<li id="li_3" >
		<label class="description" for="element_3">Project or Theory</label>
<select name="proj_or_theory">
  <option value="project">Project Based</option>
  <option value="theory">Theory + Discussion</option>
</select></li>
			
				<li class="buttons">
				<input id="saveForm" class="awesome" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>