

		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1>WishList</h1>
				<span class="newClass"><a href="/add">Add New</a></span>
			</div>
		</div>

	
		<div id="bodyBlock">
			
			{{# classes}}
			
			<div class="dreamClass {{proj_or_theory}}">
				<div class="className">
					<h1>{{name}}</h1>
				</div>
				<div class="desc">
				{{description}}
				</div>
				<div class="themes">
					Themes
				</div>
				<div class="skills">
					Skills
				</div>
				<div class="{{slug}}" style="cursor:hand;display:inline-block;width:30;">
					<span class="aye">&#x25B2;<span class="ayesNumber">{{ayes}}</span></span>
					
				</div>

			</div>


			{{/ classes}}

		</div>

<script>
$(document).ready(function (){
	$('.aye').click(function(e){
		var place = $(this);
		var slug = $(this).parent().attr("class");
		console.log('current parent : ' +slug);
		var currAyes = $(this).children('.ayesNumber').text();
		console.log('current ayes val : ' +currAyes);
		var target = $(this).children('.ayesNumber').attr("class");
		console.log('current target : ' +target);
	
		var newAyes = (parseInt(currAyes)+1);
		console.log(newAyes);


		 $.ajax({
                    url : 'classes/'+slug+'/edit',
                    dataType : 'pjson',
                    type : 'POST',
                    data : {
                        ayes : newAyes
                    },
                    success : function(data){
                        console.log(data);
                        // $('target').text(newAyes);
                        //
                    },
                    error : function(error){
                        console.log('error on ajax');
                        place.children('.ayesNumber').text(newAyes);
                        //fix this below.
                        //refreshCandlesOnPage();
                    }


	 });
		  		  e.preventDefault();
                  return false;
});
	});
</script>
