

		<div id="headRule">
			<div id="headContainer">
				<h2>ITP</h2><h1>WishList</h1>
				<span class="newClass"><a href="/add">Add New</a></span>
			</div>
		</div>

<!-- 		{{#sessionVotedFor}}
			{{sessionVotedFor}}
		{{/sessionVotedFor}} -->
	
		<div id="bodyBlock">

			<div id="info">
				<span class="info subClass">Class</span>
				<span class="info subThemes">Themes</span>
				<span class="info subSkills">Skills</span>
			</div>
			
			{{# classes}}
			
			<div class="dreamClass {{proj_or_theory}}">
				<div class="className">
					<h1>{{name}}</h1>


					<div class="{{slug}}" style="cursor:hand;display:inline;align:right;width:30;">
					<span class="aye">&#x25B2;<span class="ayesNumber">{{ayes}}</span></span>
					
				</div>

				</div>
				<div class="desc">
				{{description}}
				</div>
				<div class="themes">
					<ul>
						{{# themes}}
						<li>{{.}}</li>
						{{/ themes}}
					</ul>
				</div>
				<div class="skills">
					<ul>
						{{# skills}}
						<li>{{.}}</li>
						{{/ skills}}
					</ul>
				</div>


			</div>


			{{/ classes}}

		</div>

<script>
$(document).ready(function (){
		//variable to hold things voted for
		var classesVotedFor = '{{sessionVotedFor}}';

	$('.aye').click(function(e){
		e.preventDefault();
		var place = $(this);
		var slug = $(this).parent().attr("class");
		console.log('current parent : ' +slug);
		var currAyes = $(this).children('.ayesNumber').text();
		console.log('current ayes val : ' +currAyes);
		var target = $(this).children('.ayesNumber').attr("class");
		console.log('current target : ' +target);
		var newAyes = (parseInt(currAyes)+1);
		console.log(newAyes);

		console.log("voted for : "+classesVotedFor);

		// check to see if prev vote for this slug

		searchVotes(slug, place, newAyes);	

		//if their session contains this class slug






        });    


		function searchVotes(data, t_place, t_ayes){

			var string = classesVotedFor;
			var searchHits = string.search(data);

			console.log('results of string search : '+searchHits);

				if (searchHits == -1){

						//alert('you already voted for '+ data);

						$.ajax({
	                    url : 'classes/'+data+'/edit',
	                    //dataType : 'json', // this isnt json, so I don't need this.
	                    type : 'POST',
	                    data : {
	                        ayes : t_ayes
	                    },
	                    success : function(response){
	                   
	                        t_place.children('.ayesNumber').text(t_ayes);
	                        classesVotedFor += data+",";

	                        writeToSession(data);

	                    },
	                    error : function(error){
	                        console.log('error on ajax');

	                    }
					});
					/// ^^^ AJAX FOR ayes ////




				};


		function writeToSession(t_place){

			console.log("the data being sent to ajax is : "+t_place);
				$.ajax({
					url : '/session/votes',
					type : 'POST',
					data : {
						classParam : t_place
					},
					success : function(response){
						console.log('success ajax to session');

					}, 
					error : function(error){
						console.log('error ajax to session');
					}
				});
		}



			};

});
</script>
