html {
    background: #000;
	background: url(img/burritoTile01.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.dreamClass {
	text-align: left;
	display: block;
	background: white;
	width : 840px;
	margin : 0 auto;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 30px;
}

.className {
	top: -30;
	left: -10px;
	position: relative;
	text-align: left;
	margin-left: 10px;
}

.ayesNumber{
	/*visibility: hidden;*/
}

.desc{
	position: relative;
	text-align: left;
	width : 450px;
	display: inline-block;
	border-right: 1px solid grey;
	font-size: 12px;
	padding: 3px;
	font-family : Verdana;
	font-weight: normal;
}
.themes{
	position: relative;
	width : 150px;
	display: inline-block;
	text-align: left;
	border-right: 2px solid grey;
}
.skills {
	position: relative;
	width : 150px;
	display: inline-block;
	text-align: left;
	background: Gainsboro;
	border-right: 2px solid grey;
}

.aye {
	font-size: 26px;
	position: relative;
	top: 5px;
	padding-left :19px;
	width : 20px;
	display: inline-block;
	cursor: hand;
}

a {
	color: #5CE62E;
	text-decoration: none;
}
a: visited{
	color: #5CE62E;
}
a: hover{
	color: #5CE62E;
	text-decoration: underline;
}

/*copyPast from smashingMag*/

	.awesome, .awesome:visited {
	margin-left: 700px;
	margin-bottom: 30px;
	background: #9A63C9 url(alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer;
}


@-webkit-keyframes whitePulse {
from { background-color: #9A63C9; -webkit-box-shadow: 0 0 0px white; }
50% { background-color: #9A63C9; -webkit-box-shadow: 0 0 12px white; }
to { background-color: #9A63C9; -webkit-box-shadow: 0 0 0px white; }
}

	.awesome:hover {
	-webkit-animation-name: whitePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	 /*background-color: #9A63C9; 
	 color: white; 
	 text-shadow: 0 -1px 3px rgba(255,255,255,255.25);
	 -webkit-box-shadow: 0 0 7px white; 
	 text-shadow: 0 0 4px rgba(255,255,255,.75); */
	}
	.awesome:active							{ top: -9px; }
	.small.awesome, .small.awesome:visited 	{ font-size: 11px; padding: 20 ; }
	.awesome, .awesome:visited,				{ background-color: #fc9200; }
		
/*copyPast from smashingMag*/

body {
	margin: 0;
	padding: 0;
	font-family: EuropaGroNr2SBOP-Ult; 
}


.newClass{
position: relative;
color: #5CE62E;
display: inline;
margin-left:600px;

}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}
.project{
	background: Lavender ;
}
.theory{
	background: WhiteSmoke ;
}
form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
#form_container h1{
	margin-top: 30px;
}

.buttons:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

* html form li
{
	height:1%;
}

* html .buttons
{
	height:1%;
}

* html form li div
{
	display:inline-block;
}

form li div
{
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li span
{
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li div.left
{
	display:inline;
	float:left;
	width:48%;
}

form li div.right
{
	display:inline;
	float:right;
	width:48%;
}

form li div.left .medium
{
	width:100%;
}

form li div.right .medium
{
	width:100%;
}

.clear
{
	clear:both;
}

form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li .datepicker
{
	cursor:pointer !important;
	float:left;
	height:16px;
	margin:.1em 5px 0 0;
	padding:0;
	width:16px;
}

.form_description
{
	border-bottom:1px dotted #ccc;
	clear:both;
	display:inline-block;
	margin:0 0 1em;
}

.form_description[class]
{
	display:block;
}

.form_description h2
{
	clear:left;
	font-size:160%;
	font-weight:400;
	margin:0 0 3px;
}

.form_description p
{
	font-size:95%;
	line-height:130%;
	margin:0 0 12px;
}

form hr
{
	display:none;
}

form li.section_break
{
	border-top:1px dotted #ccc;
	margin-top:9px;
	padding-bottom:0;
	padding-left:9px;
	padding-top:13px;
	width:97% !important;
}

form ul li.first
{
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

form .section_break h3
{
	font-size:110%;
	font-weight:400;
	line-height:130%;
	margin:0 0 2px;
}

form .section_break p
{
	font-size:85%;

	margin:0 0 10px;
}

/**** Buttons ****/
input.button_text
{
	overflow:visible;
	padding:0 7px;
	width:auto;
}

.buttons input
{
	font-size:120%;
	margin-right:5px;
}

/**** Inputs and Labels ****/
label.description
{
	margin-top: 30px;
	border:none;
	color:#9A63C9;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

span.symbol
{
	font-size:115%;
	line-height:130%;
}

input.text
{
	background:#fff url(../../../images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:115%;
	line-height:130%;

}

input.file
{
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

textarea.textarea
{
	background:#fff url(../../../images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	margin:0;
	width:99%;
}

select.select
{
	color:#333;
	font-size:100%;
	margin:1px 0;
	padding:1px 0 0;
	background:#fff url(../../../images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
}


input.currency
{
	text-align:right;
}

input.checkbox
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}

input.radio
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}

label.choice
{
	color:#444;
	display:block;
	font-size:14px;
	line-height:1.4em;
	margin:-1.55em 0 0 25px;
	padding:4px 0 5px;
	width:90%;
}

select.select[class]
{
	margin:0;
	padding:1px 0;
}

*:first-child+html select.select[class]
{
	margin:1px 0;
}

.safari select.select
{
	font-size:120% !important;
	margin-bottom:1px;
}

input.small
{
	width:25%;
}

select.small
{
	width:25%;
}

input.medium
{
	width:50%;
}

select.medium
{
	width:50%;
}

input.large
{
	width:99%;
}

select.large
{
	width:100%;
}

textarea.small
{
	height:5.5em;
}

textarea.medium
{
	height:10em;
}

textarea.large
{
	height:20em;
}

/**** Errors ****/
#error_message
{
	background:#fff;
	border:1px dotted red;
	margin-bottom:1em;
	padding-left:0;
	padding-right:0;
	padding-top:4px;
	text-align:center;
	width:99%;
}

#error_message_title
{
	color:#DF0000;
	font-size:125%;
	margin:7px 0 5px;
	padding:0;
}

#error_message_desc
{
	color:#000;
	font-size:100%;
	margin:0 0 .8em;
}

#error_message_desc strong
{
	background-color:#FFDFDF;
	color:red;
	padding:2px 3px;
}

form li.error
{
	background-color:#FFDFDF !important;
	border-bottom:1px solid #EACBCC;
	border-right:1px solid #EACBCC;
	margin:3px 0;
}

form li.error label
{
	color:#DF0000 !important;
}

form p.error
{
	clear:both;
	color:red;
	font-size:10px;
	font-weight:700;
	margin:0 0 5px;
}

form .required
{
	color:red;
	float:none;
	font-weight:700;
}

/**** Guidelines and Error Highlight ****/
form li.highlighted
{
	background-color:#fff7c0;
}

form .guidelines
{
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	color:#444;
	font-size:80%;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:42%;
	z-index:1000;
}

form .guidelines small
{
	font-size:105%;
}

form li.highlighted .guidelines
{
	visibility:visible;
}

form li:hover .guidelines
{
	visibility:visible;
}

.no_guidelines .guidelines
{
	display:none !important;
}

.no_guidelines form li
{
	width:97%;
}

.no_guidelines li.section
{
	padding-left:9px;
}

/*** Success Message ****/
.form_success 
{
	clear: both;
	margin: 0;
	padding: 90px 0pt 100px;
	text-align: center
}

.form_success h2 {
    clear:left;
    font-size:160%;
    font-weight:normal;
    margin:0pt 0pt 3px;
}

/*** Password ****/
ul.password{
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}
.password h2{
    color:#DF0000;
    font-weight:bold;
    margin:0pt auto 10px;
}

.password input.text {
   font-size:170% !important;
   width:380px;
   text-align: center;
}
.password label{
   display:block;
   font-size:120% !important;
   padding-top:10px;
   font-weight:bold;
}

#li_captcha{
   padding-left: 5px;
}


#li_captcha span{
	float:none;
}

/** Embedded Form **/

.embed #form_container{
	border: none;
}

.embed #top, .embed #bottom, .embed h1{
	display: none;
}

.embed #form_container{
	width: 100%;
}

.embed #footer{
	text-align: left;
	padding-left: 10px;
	width: 99%;
}

.embed #footer.success{
	text-align: center;
}


/*form {
	width: 600px;
	margin: 0 auto;
	position: relative;
	text-align: right;
	padding-right: 150px;
}

input{
	margin-bottom: 20px;
	padding-bottom: 15px;
	padding-left : 15px;
	right: 0px;
	top: -10px;
}*/


#form_container
{
	background:#fff;
	border:1px solid #ccc;
	margin:0 auto;
	text-align:left;
	width:850px;
}

#dropdowns{
	display: inline-block;
}

.boxLabel{
	position: relative;
	right: 250px;
	top: -10px;
	color: white;
}

#submit{
	color: #9A63C9;
	font-size: 36px;
	padding-bottom: 30px;
}

#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#headRule {
	padding: 0px;
	margin: 0 auto;
	top: 0px;
	background: black;
	left: 0px;
	width: 100%;
	text-align: center;
}	

#headContainer {
	margin: 0 auto;
	width: 850px;
	text-align: left;
}

h1 {
	display: inline-block;
	color: #9a63c9;
	padding: 0;
	margin: 0;
	font-size: 22px;
	line-height: 34px;
}

h2 {
	display: inline-block;
	color: #FFF;
	padding: 0;
	margin: 0;
	font-size: 22px;
	line-height: 34px;
}

.timeText {
	color: white;
	font-size: 20px;
	opacity: 1;
}	

#bodyBlock {
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 25px;
	width: 900px;
	background-image: url("../../img/transBlock.png");
}

.mainText {
	color: #ffff00;
	font-size: 90px;
	opacity: 1;
}	